<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Google 翻訳</title>
    <link rel="icon" type="image/png" href="https://ssl.gstatic.com/translate/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/empty.css">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>alert('YUKI YOUTUBE')</script>
    <script>alert('次のYUKI YOUTUBE完成したけど欲しい人いたらRevolt来てね')</script>
    <script>alert('https://scratch.mit.edu/projects/898245887/')</script>
    
</head>
